/* =================================== */
/*  Responsive Styles 
/* =================================== */
@media (max-width: 991px) {}

@media (max-width: 767px) {
    .navbar-brand {
        left: 1px;
        top: 0px
    }

    .swiper-container {
        height: 150px;
        width: 100%;
    }

    .register-right {
        margin-top: 0px;
    }

    .swiper-container.register-swiper {
        height: 100px;
    }

    .box[data-v-3eb55287] {
        font-weight: 400;
        background-image: none;
        font-size: 16px;
        text-align: center;
        padding: 5px;
        color: #666;
    }

    .notify-box {
        padding: 0 0px 0 8px;
        background-color: #bee6ff;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: bold;
        box-shadow: 0px 0px 12px 0px rgba(20%, 20%, 40%, 0.5);
    }

    .notify-box .notify-swiper {
        width: 45%;
    }

    .notify-box .notify-icon {
        margin-right: 0px;
    }

    header .login-block {
        right: 70px;
    }

    .navbar-toggler {
        position: absolute;
        right: -10px;
        top: 10px;
    }

    .navbar {
        position: relative;
        display: block;
        flex-wrap: none;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
    }

    .navbar .navbar-brand .link-inner img {
        width: 150px !important;
        margin-top: -3px !important;
        margin-left: -16px !important;
    }

    .login-block .el-tag {
        font-size: 12px !important;
    }

    .navbar-nav .nav-link {
        border-bottom: 1px solid #eaeaea;
    }

    .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 10px;
    }

    .menu-item {
        height: 50px;
        line-height: 50px;
    }

    .user-container .left-column .el-menu,
    .left-column .menu-bottom {
        display: none;
    }


    .plate2 {
        width: 100%;
    }

    .plate .plate-content .plate-left {
        width: 100%;
        height: auto;
        margin-bottom: 3px;
    }

    .plate .plate-content .plate-left .swiper .swiper-container {
        width: 100%;
        height: 380px;
    }

    .plate .plate-content .plate-left .swiper {
        height: auto;
    }

    .plate3 .item {
        width: 100%;
        float: none;
        font-size: 0px;
    }

    .plate3 .hotGame .item-img1:first-child {
        margin-right: 0px;
    }

    .ml5 {
        margin-left: 0px;
    }

    .el-form-item__label {
        text-align: left;
        padding-left: 15px;
    }

    .left-column .userInfo .txt1,
    .left-column .userInfo .txt2,
    .left-column .userInfo .txt3 {
        margin-top: 5px;
    }

    .plate3 .hotGame .item-img1 {
        width: 50%;
        margin: 0px;
    }

    .plate-item {
        width: 49.5%;
        height: 160px;
        float: left;
        margin-left: 0px;
    }

    .plate-item:nth-child(2) {
        margin-left: 1%;
    }

    .plate-item:nth-child(3) {
        margin-top: 3px;
    }

    .plate-item:nth-child(4) {
        margin-top: 3px;
        margin-left: 3px;
    }

    .plate .plate-content .plate-right {
        width: 100%;
        height: auto;
    }

    .plate3 .plate-down {
        width: 100%;
        display: block;
        margin-left: 5px;
        margin-right: 5px;
    }

    .about-box .left-content {
        width: 100%;
        padding-bottom: 10px;
    }

    .about-box .right-content {
        float: none;
        margin: 0px auto;
        margin-bottom: 10px;
    }

    .footer-content .footer-logo {
        width: 180px;
        height: 120px;
        float: none;
        margin: 0 auto;
        margin-top: 10px;
    }

    .footer {
        padding-bottom: 52px;
    }

    .live-banner-container,
    .slot-banner-container,
    .sport-banner-container,
    .lottery-banner-container,
    .av-banner-container,
    .chess-banner-container,
    .promotion-banner-container {
        width: 100%;
        height: 140px;
    }

    .card-body .item-bg1,
    .card-body .item-bg2 {
        width: 100%;
        height: 100px;
    }

    .sport-right-img .sport-item-logo {
        margin: 1px auto;
    }

    .lottery .lottery-right-img .lottery-item-logo {
        margin: 15px auto 0px;
    }

    .av .av-right-img .av-item-logo {
        margin: 15px auto 0px;
    }

    .sport-left-txt {
        margin-top: 0px;
        padding-left: 30px;
        border-left: 0px solid #ddd;
    }

    .lottery-left {
        margin-bottom: 10px;
    }

    .av .av-left-txt {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .lottery .lottery-left-txt {
        margin-top: 3px;
        padding-left: 30px;
        border-left: 0px solid #ddd;
    }

    .sport-list,
    .lottery-list,
    .av-list {
        margin-bottom: 20px;
    }

    .promotion .nav-tabs .nav-item {
        width: 25%;
    }

    .nav-tabs .nav-link {
        color: #303133;
        padding: 3px 5px;
        width: 100%;
    }

    .slot-list {
        margin-left: -7.5px;
        margin-right: -7.5px;
        padding: 10px 10px;
    }

    .slot-list .nav-tabs .nav-link {
        color: #303133;
        padding: 5px 8px;
        width: 100%;
    }

    .slot-list .nav {
        justify-content: center;
    }

    .card-box {
        padding: 5px !important;
        font-size: 16px;
        font-weight: 700;
    }

    .card-box .text1 {
        padding: 0px 0px 5px 0px;
    }

    .card-box .text2 {
        height: 25px;
        padding: 0px 0px 5px 0px;
        overflow: hidden;
    }

    .content li {
        display: inline-flex;
        width: 45.6% !important;
    }

    .help-banner-container .banner-img {
        height: 100px;
    }

    .help-container .help-left-column .el-menu-item a {
        padding-left: 15px !important;
    }

    .help-container .help-right-column .help-right-content {
        margin-top: 40px;
        padding: 0 20px 20px;
    }

    .left-box {
        padding-left: 30px;
        padding-right: 30px;
    }

    .left-box .total {
        font-size: 32px;
        margin: 20px 0 5px 0;
        font-weight: bold;
        text-indent: 5px;
    }

    .left-box .wallet {
        font-size: 16px;
        margin: 10px 0 30px 0;
    }

    .left-box .txt2 {
        margin-left: 0px;
    }

    .wallet-box .right-box {
        margin-top: 20px;
        border-left: 0px;
        border-top: 3px solid #f7f7f7;
        padding-top: 30px;
    }

    .wallet-box .right-box h3 {
        padding-left: 0px;
        padding-bottom: 20px;
    }

    .left-column .userInfo {
        padding: 10px;
        border-right: solid 0px #e6e6e6;
        text-align: center;
    }

    .transfer-switch {
        width: 54px;
        height: 90px;
        left: 60%;
        top: 30%;
    }

    .transfer-switch i {
        top: 24px;
    }

    .amounts-deploy {
        font-size: 13px;
        color: #666;
    }

    .amounts-deploy .box {
        line-height: 20px;
        margin-left: 0px;
        margin-top: 12px;
    }

    .step2 .my-table {
        width: 100%;
    }

    .step2 .tip {
        width: 100%;
    }

    .step3 .title2,
    .step3 .tip,
    .step3 .line-w {
        width: 100%;
    }

    .register-content {
        padding: 10px 30px;
    }

    .el-button {
        padding: 12px 8px;
        font-size: 13px;

    }

    .footer,
    .footer-content {
        height: auto;
    }

    .footer-content .footer-icon {
        position: relative;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footer-content .txt {
        padding-bottom: 20px;
        margin-top: 30px;
    }

    .promotion-search {
        position: relative;
        cursor: pointer;
        line-height: 45px;
        margin: 5px 0px;
    }
}

@media (max-width: 736px) {}

@media (max-width: 576px) {}

@media (max-width: 480px) {}


@media screen and (max-width: 767px) {}

@media screen and (max-width: 1100px) {}