@charset "UTF-8";

body {
  padding: 0px;
  margin: 0px;
  background-image   : linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(69,72,77,0) 32%,rgba(69,72,77,0) 68%,rgba(0,0,0,1) 100%), 
	                   url(../images/bg.png);

  background-repeat  : repeat-y,
                       repeat;
  font-family:Microsoft JhengHei;	

}
a{
	text-decoration: none;
}
ul{
	padding: 0px;
	margin: 0px;
}
ul li{
	list-style-type: none;
}
.clearfix{
	content: "";
	clear:both;
}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.container {
	width:1140px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
}
.header,.slider,.main,.flooter{
	width:100%;
	display: block;
}
.header{
	
	height:115px;
}
.menu{
	margin-top: 40px;
	float: right;
}
.menu ul{
	margin: 0px;
	padding: 0px;
}
.menu ul li{
	display: inline-block;
	text-align: center;
	width: 120px;
}
.menu ul li a{
	font-weight: 200;
	color:white;
	font-size:20px;
	
}
.menu ul li.active a{
	color:#ffce89;
	
}
.menu ul li a:hover{
	color:#ffce89;
	
}
.menu ul li a span{
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	color:#a17635;
	font-size:18px;
	display: block;
}

.main {
	padding-top: 0px;
}
.main .ManagementProjects{
	float:left;
	height:212px;
	background-color: #1b1b1b;
	border:1px solid #4a3115;
}
.main .ManagementProjects .mptitle{
	display: block;
}
.main .ManagementProjects ul{
	padding: 12px;
    margin: 0px;
    float: left;
    width: 40%;
    padding-top: 5px;
	padding-bottom: 2px;
    padding-left: 20px;
}
.main .ManagementProjects ul li{
	color: #ababab;
	padding-top: 1px;
	padding-bottom: 2px;
	list-style-image: url(../images/mp_p.jpg);
	list-style-position: inside;
}

.main .news{
	float:right;
}
.main .news .newstitle{
	background-image: url(../images/icon_10.png);
	background-repeat: no-repeat;
	width:752px;
	height:39px;
	display: block;
}
.main .news .newstitle a{
	float:right;
	margin-top: 12px;
	font-size: 15px;
	color:#a4791a;
}
.main .news .newstitle a:hover{
	color:#fff;
}
.main .news ul{
	padding: 20px;
	margin: 0px;
	height: 155px;
	background-color: #1b1b1b;
	border:1px solid #4a3115;
}
.main .news ul{
	padding: 20px;
	margin: 0px;
	height: 175px;
	box-sizing: border-box;
	background-color: #1b1b1b;
	border:1px solid #4a3115;
}
.main .news ul li{
	padding-top: 3px;
	padding-bottom: 3px;
} 
.main .news ul li a{
	color: #ffce89;
	font-weight: 300;
	font-size: 15px;
	line-height: 190%;
} 
.main .news ul li a:hover{
	color: #fff;
	
}

.main .Specialoffer{
	display: block;
	padding-top: 20px;
}
.main .Specialoffer .sltitle{
	background-image: url(../images/icon_20.png);
	background-repeat: no-repeat;
	display: block;
	width:100%;
	height:45px;
	margin-bottom: 20px;
}
.main .Specialoffer ul{
	width: 1190px;
}
.main .Specialoffer ul li{
	float: left;
    width: 190px;
	text-align: center;
    margin-right: 47.3px;
}
.main .Specialoffer ul li .ptimg{
	margin-bottom: 6px;
	
}
.main .Specialoffer ul li .ptimg > a{
	width:190px;
	height:190px;		
	display: block;
	overflow: hidden;
}
.main .Specialoffer ul li .ptimg > a img{
	width:100%;	
	height:auto;
}
.main .Specialoffer ul li a {
	color: white;	
	font-size: 15px;
}
.main .Specialoffer ul li a:hover {
	color: #ffce89;
}
.main .Specialoffer ul li .pice {
	color: white;
	font-size: 15px;
	width:100%;
	text-align: center;
}

.flooter{
	display: block;
	font-size: 15px;
	color:#87693e;
	padding-bottom: 20px;
}
.flooter .ft-left{
	float:left;
	padding-bottom: 20px;
	padding-top: 10px;
}

.flooter .ft-right{
	float:right;
	padding-top: 10px;
	padding-bottom: 20px;
}
.impdown{
	background-color: white;
	background-image: url(../images/down.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 80px;
	display: block;
	position: fixed;
	bottom: 0;
}


.slick-dots {
    bottom: 15px !important;
}

/********
特價商品
********/

.main .products_menu{
	float: left;
	width: 208px;
	background-color: #1b1b1b;
	border:1px solid #4a3115;
}
.main .products_menu .title_pt{
	background-image: url(../images/icon-03.png);
	background-repeat: no-repeat;
	height:40px;
	width: 208px;
	margin-bottom: 18px;
}
.main .products_menu .ptbtn{
	margin-bottom: 2px;
}
.main .products_menu .ptbtn a{
	color: #fddf66;
	padding-left: 55px;
	box-sizing: border-box;
	background-image: url(../images/p_m_t_bg.jpg);
	background-repeat: no-repeat;
	display: block;
	height:29px;
	line-height:29px;
	font-weight: 300;
	width: 208px;
}

.main .products_menu .all_menu {
	padding-top:25px;
	padding-bottom:45px;
	box-sizing: border-box;
}

.main .products_menu .all_menu li {
	background-image: url(../images/p_m_l.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 5px;
	padding-top: 3px;
}
.main .products_menu .all_menu li a{
	font-size: 18px;
	font-weight: 300;
	padding-left: 54px;
    color: #b98b12;
    background-image: url(../images/p_m_p.jpg);
    background-repeat: no-repeat;
    background-position: 33px 8px;
    box-sizing: border-box;
	
}
.main .products_menu .all_menu li a:hover{
    color: #dab24a;
	
}
.page_con{
	float:right;
	width: 895px;
	
}
.page_con .page_title_pt{
	background-image: url(../images/icon-01.png);
	background-repeat: no-repeat;
	padding-top:38px;
	margin-bottom: 15px;
}
.page_con .page_title_pt2{
	background-image: url(../images/icon-02.png);
	background-repeat: no-repeat;
	padding-top:38px;
	margin-bottom: 15px;
}
.page_con .page_title_pt_news{
	background-image: url(../images/icon_10.png);
	background-repeat: no-repeat;
	padding-top:38px;
	margin-bottom: 15px;
}
.page_con .page_title_pt3{
	background-image: url(../images/icon-10.png);
	background-repeat: no-repeat;
	padding-top:38px;
	margin-bottom: 15px;
}
.page_con .page_title_pt h1{
	margin: 0px;
	height: 30px;
	background-image: url(../images/p_r_t_bg.jpg);
	font-size: 18px;
	color: #fff;
	text-align: center;
	font-weight: 300;
	line-height: 30px;
}

.products_box{
	padding: 20px;
	background-color: #1b1b1b;
	border:1px solid #4a3115;
	box-sizing: border-box;
	margin-bottom: 6px;
	position: relative;
	height: auto;
}
.products_box .pt_img{
	width:200px;
	float:left;
}
.products_box .pt_img a{
	height:150px;
	width:150px;
    overflow: hidden;
}
.products_box .pt_img a img{
	width: 200px;
	height: auto;
}
.products_box .pt_text {
	float: left;
	color: white;
	width: 620px;
	padding-left: 30px;
	box-sizing: border-box;
	padding-bottom: 50px;
}
.products_box .pt_text2 {
	float: left;
	color: #FFFFFF;
	width: 800px;
	padding-left: 30px;
	box-sizing: border-box;
	padding-bottom: 50px;
}
.products_box .pt_text a{
	color:white;
}
.products_box .pt_text h1{
	margin: 0px;
	font-size: 18px;
	margin-bottom: 40px;
}

.products_box .pt_text p{
	font-size: 15px;
	color: #a5a4a4;
	margin-top: 0px;
	margin-bottom: 2px;
}
.products_box .pice {
	float: left;
	font-size: 15px;
	color: #eacf3c;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.news_box{
	padding: 20px;
	background-color: #1b1b1b;
	border:1px solid #4a3115;
	box-sizing: border-box;
	margin-bottom: 6px;
	position: relative;
	height: auto;
	font-weight: 300;
	position: relative;
}
.news_box .news_text2{
	float: left;
	color: #FFFFFF;
	width: 100%;
	box-sizing: border-box;
}
.news_box .news_text2 .date{
	clear: both;
	color: #eacf3c;
	box-sizing: border-box;
	width: 670px;
}
.news_box .news_text2 a{
	color:white;
}
.news_box .news_text2 h1{
	margin: 0px;
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 300;
	width: 690px;
}
.news_box .news_text2 h1 a{
	color:white;
}
.news_box .news_text2 h1 a:hover{
	color: #f0d884;
}
.news_box .news_text2 p{
	font-size: 14px;
	color: #a5a4a4;
	margin-top: 0px;
	margin-bottom: 2px;
	font-weight: 300;
	line-height: 170%;
}
.news_box .news_text2.con p{
	color: #fff;
}
.news_box .more {
	float:right;
}
.news_box .more a {
	font-size: 13px;
	background-image: url(../images/p_m_l.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	height:30px;
	width:208px;
	display: block;
	text-align: center;
	color: #eacf3c;
}
.news_box .more a:hover {
	color: #d8d8d8;
}

.news_box .back {
	float:right;
}
.news_box .back a {
	font-size: 13px;
	background-image: url(../images/p_m_l.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	height:30px;
	width:208px;
    position: absolute;
	top:30px;
	right:10px;
	text-align: center;
	color: #eacf3c;
}
.news_box .back a:hover {
	color: #d8d8d8;
}